#include "Pods/Target Support Files/Pods-Watch Extension/Pods-Watch Extension.debug-chinauniversal.xcconfig"
#include "Pods/Target Support Files/Pods-Watch Extension/Pods-Watch Extension.release-chinauniversal.xcconfig"

OTHER_LDFLAGS = -framework "Alamofire" -framework "CFNetwork"
ALWAYS_EMBED_SWIFT_STANDARD_LIBRARIES = NO